body.contact {
    footer {
        display: none;
    }
}
.contact-us-section{
    height: calc(100vh - 200px);

    @include media-breakpoint-down(lg){
        height: auto;
    }
}

.wpcf7-response-output{
    color: $white !important;
}