    .project-slider {
        height: 370px;

        @include media-breakpoint-down(lg) {
            height: 252px;
        }
    }

    .project-image-slider-section {
        .slick-wrap {
            padding-left: 38px !important;
            padding-right: 38px !important;

            @include media-breakpoint-down(lg){
                 padding-left: 10px !important;
            padding-right: 10px !important;
            }
        }
    }