button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}


.btnA {
    height: 49px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px $radius30 $radius30 $radius30;

    &.bg-06556C-btn {
        background-color: $color-06556c;
        border: 1px solid transparent;
        color: $white;

        &:hover {
            background-color: transparent;
            border: 1px solid $color-06556c;
        }
    }

    &.bg-06556C-dark-text-btn {
        background-color: $color-06556c;
        border: 1px solid transparent;
        color: $white;

        &:hover {
            background-color: transparent;
            border: 1px solid $color-06556c;
            color: $color-06556c;
        }
    }

    &.bg-f07a47-white-text-btn {
        background-color: $color-f07a47;
        border: 1px solid transparent;
        color: $white;

        &:hover {
            background-color: transparent;
            border: 1px solid $color-f07a47;
            color: $white;
        }
    }

    &.bg-white-btn {
        background-color: $white;
        border: 1px solid transparent;
        color: $color-f07a47;

        &:hover {
            background-color: $white;
            border: 1px solid transparent;
            color: $color-f07a47;
        }
    }
}

.btnB {
    height: 51px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: $radius30 0px $radius30 $radius30;

    &.bg-f07a47-white-text-btn {
        background-color: $color-f07a47;
        border: 1px solid transparent;
        color: $white;

        &:hover {
            background-color: transparent;
            border: 1px solid $color-f07a47;
            color: $white;
        }
    }
}