button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}


.btnA {
    height: 49px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px 30px 30px 30px;

    &.bg-06556C-btn {
        background-color: $color-06556c;
        border: 1px solid $color-06556c;
        color: $white;

        &:hover {
            background-color: transparent;
        }
    }

    &.bg-06556C-dark-text-btn {
        background-color: $color-06556c;
        border: 1px solid $color-06556c;
        color: $white;

        &:hover {
            background-color: transparent;
            color: $color-06556c;
        }
    }

    &.bg-f07a47-white-text-btn {
        background-color: $color-f07a47;
        border: 1px solid $color-f07a47;
        color: $white;

        &:hover {
            background-color: transparent;
            color: $white;
        }
    }

    &.bg-white-btn {
        background-color: $white;
        color: $color-f07a47;

        &:hover {
            border: 1px solid transparent;
            color: $color-f07a47;
        }
    }
}

.btnB {
    height: 51px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 30px 0px 30px 30px;

    &.bg-f07a47-white-text-btn {
        background-color: $color-f07a47;
        border: 1px solid $color-f07a47;
        color: $white;

        &:hover {
            background-color: transparent;
            color: $white;
        }
    }
}