.card-hover {
    .img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        .img {
            transform: scale(1.1);
        }
    }
}

.project-card-section {
    .image-card {
        height: 466px;
    }
}

.image-card {
    height: 535px;

    &:nth-child(4n + 1),
    &:nth-child(4n + 4) {
        width: 58%;
    }

    &:nth-child(4n + 2),
    &:nth-child(4n + 3) {
        width: 42%;
    }


    .project-bg-layer {
        height: 275px;
        background: linear-gradient(180deg, rgba(6, 85, 108, 0), rgba(6, 85, 108, 1));
        opacity: 34%;
    }

    .hover-wrapper {
        opacity: 0;
        visibility: hidden;
        transform: translateY(0px);
    }

    &:hover {
        .hover-wrapper {
            opacity: 1;
            visibility: visible;
            transform: translateY(-100%);
            opacity: 92%;
        }

        .card-title {
            opacity: 0;
        }
    }
}

.team-card {
    height: 440px;

    .team-card-img {
        height: 335px;
    }

    .bg-layer {
        clip-path: ellipse(80% 100% at bottom);
        height: 250px;
    }
}