.hero-slider {

    .slick-slide,
    .slick-list,
    .slick-track {
        height: 100%;

        &>* {
            height: 100%;
        }
    }

    .slick-dots {
        bottom: 0px;
        position: absolute;
        right: 5%;
        z-index: 9999;
        display: flex;
        justify-content: end;
        list-style-type: none;
        max-width: 150px;
        width: 100%;
        margin-bottom: 30px;

        li {
            cursor: pointer;
            height: 8px;
            width: 8px;
            background: rgba($color: $white, $alpha: 0.4);
            margin-right: 8px;
            border-radius: 100px;

            &.slick-active {
                width: 33px;
                background: $white;
            }

            &:last-child {
                margin-right: 0px;
            }
        }

        button {
            display: none;
        }
    }
}

.slick-arrows {
    height: 52px;
    width: 52px;
    border: 1px solid transparent;

    .arrow-bg {
        height: 12px;
    }

    &.prev-arrow {
        left: -35px;

        img {
            transform: rotate(180deg);
        }
    }

    &.next-arrow {
        right: -35px;
    }
}

.slick-arrow-wrapper {
    .slick-arrow {
        border: 1px solid rgba($color: $color-f07a47, $alpha: 0.4);

        &.slick-disabled {
            background-color: $color-f07a47 !important;
            border: 1px solid transparent;

            img {
                filter: brightness(3);
            }
        }
    }
}

.project-image-slider-section {

    .slick-list {
        margin-left: -14px;
        margin-right: -14px;

        .slick-slide {
            padding-left: 14px;
            padding-right: 14px;
        }
    }

    .project-img {
        height: 370px;
    }
}

.related-project-slider {
    .slick-list {
        overflow: visible;
        margin-left: -8px;
        margin-right: -8px;

        .slick-slide {
            padding-left: 8px;
            padding-right: 8px;
            width: 309px !important;
            // transition: all 0.4s ease;

            .related-project-card {
                width: 309px !important;
                transition: width 0.4s ease;
            }

            &.slick-current {
                width: 739px !important;

                .related-project-card {
                    width: 100% !important;
                }
            }

            &>div{
                width: 100% !important;
            }
        }
    }

    .related-project-img {
        height: 465px;
    }
}

.team-slider {
    .slick-list {
        margin-left: -8px;
        margin-right: -8px;

        .slick-slide {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}