.social-media-content {
    .media-bg {
        width: 46px;
        height: 46px;
        border: 1px solid rgba($color: $white, $alpha: 0.2);

        .media-img {
            height: 20px;
        }

        &:last-child {
            margin-right: 0px !important;
        }
    }
}

.divider {
    height: 1px;
}