/*******************************************************************************
******************************* COLOUR VARIABLES *******************************
*******************************************************************************/
$color-f07a47: #f07a47;
$color-ffffff: #ffffff;
$color-06556c: #06556c;
$color-000000: #000000;
$color-000b18: #000b18;
$color-edf4f3: #edf4f3;
$color-268a85: #268a85;
$color-00000040: #00000040;
$color-BCBCBC: #BCBCBC;
$color-3db4c0: #3db4c0;
$color-707070: #707070;

/*******************************************************************************
******************************* FONTS VARIABLES *******************************
*******************************************************************************/
$font12: 12px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font21: 21px;
$font22: 22px;
$font24: 24px;
$font25: 25px;
$font26: 26px;
$font29: 29px;
$font32: 32px;
$font35: 35px;
$font48: 48px; 
$font61: 61px;


$res-font20: 20px;
$res-font30: 30px;
$res-font36: 36px;
$res-font45: 45px;



/*******************************************************************************
******************************* LINE HEIGHT *******************************
*******************************************************************************/
$leading16: 16px;
$leading22: 22px;
$leading24: 24px;
$leading27: 27px;
$leading28: 28px;
$leading29: 29px;
$leading30: 30px;
$leading32: 32px;
$leading34: 34px;
$leading35: 35px;
$leading44: 44px;
$leading46: 46px;
$leading53: 53px;
$leading61: 61px;


$res-leading23: 23px;
$res-leading36: 36px;
$res-leading40: 40px;
$res-leading45: 45px;

/*******************************************************************************
******************************* LETTER SPACING *******************************
*******************************************************************************/
$space0_12: -0.12px;
$space0_28: -0.28px;
$space0_61: -0.61px;
$space0_96: -0.96px;


$res-space-0_35: -0.35px;
$res-space-0_44: -0.44px;
$res-space-0_45: -0.45px;
$res-space-0_15: -0.15px;
$res-space-0_72: -0.72px;
$res-space-0_15: -0.15px;
$res-space-0_6: -0.6px;


/*******************************************************************************
******************************* RADIUS *******************************
*******************************************************************************/
$radius30: 30px;
$radius10: 10px;
$opacity80: 80%;

$res-opacity50: 50%;

/*******************************************************************************
******************************* ANIMATION VARIABLES ****************************
*******************************************************************************/
@mixin generate-transition($name, $duration, $type) {
  -webkit-transition: $name $duration $type;
  /* Safari 4+ */
  -moz-transition: $name $duration $type;
  /* Fx 5+ */
  -o-transition: $name $duration $type;
  /* Opera 12+ */
  transition: $name $duration $type;
  /* IE 10+, Fx 29+ */
}

@mixin generate-animation-delay($seconds) {
  -webkit-animation-delay: $seconds;
  /* Safari 4+ */
  -moz-animation-delay: $seconds;
  /* Fx 5+ */
  -o-animation-delay: $seconds;
  /* Opera 12+ */
  animation-delay: $seconds;
  /* IE 10+, Fx 29+ */
}

@mixin generate-placeholder($color, $fontsize) {
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $fontsize;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
    font-size: $fontsize;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
    font-size: $fontsize;
  }

  &:-ms-input-placeholder {
    color: $color;
    font-size: $fontsize;
  }
}

@mixin generate-scale-transition() {
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -moz-transform: scale(1.1);
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  -o-transform: scale(1.1);
  /* Opera */
  transform: scale(1.1);
}

@mixin generate-transform($transform) {
  -webkit-transform: $transform;
  /* Safari and Chrome */
  -moz-transform: $transform;
  /* Firefox */
  -ms-transform: $transform;
  /* IE 9 */
  -o-transform: $transform;
  /* Opera */
  transform: $transform;
}

@mixin generate-filter($filter) {
  -webkit-filter: $filter;
  filter: $filter;
  -moz-filter: $filter;
  -o-filter: $filter;
}

$enable-negative-margins: true;